h1{
	font-family: helvetica neue, Myriad Pro; color: gray;
	margin-top: 100px;
	margin-left: 150px;
	font-size: 60px;



}	

h4{
	font-family: helvetica, arial; font-weight: cndensed; color: gray;
	margin-top: 20px;
	margin-left: 150px;
	margin-top: 70px;

	
}	

p{
	font-family: arial;
	margin-top: 20px;
	margin-left: 150px;
}

img{
	margin-top: 1px;
	margin-right: 150px;
	 height: 300px;
	 width: 300px;
	 float: right;


}